.card {
  width: 300px;
  border: 2px solid red;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #0ca987;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.card p{
  margin: 20px 0px;
}

.card button {
  padding: 10px 20px;
  background-color: blueviolet;
  color: yellow;
  border: none;
  border-radius: 5px;
}